.content code{
    color: #c7254e!important;
    background-color: #f9f2f4!important;
    }
.content pre code, 
.content pre[class*="language-"] code{
    color: #fff!important;
    background-color: transparent!important;
}
.content p.tip,
.content p.success {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.content p.tip {
    border-left-color: #f66;
}

.content p.tip:before,
.content p.success:before {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}
.content p.tip:before {
    content: "!";
    background-color: #f66;
}
// narrow mobile
@media (max-width: 419px){
    .content{
        div[class*="language-"]{
            margin: 0 !important;
        }
    }
}